/*--------------------------Color Pallete*/

/*--------------------------Fonts*/
@font-face {
  font-family: "horror";
  src: url("../fonts/who_asks_satan.ttf") format("ttf");
  font-weight: 500;
  font-size: medium;
  font-style: normal;
}
/*--------------------------Content zone*/
#content {
  display: flex;
  flex-direction: column;
}
/*--------------------------Navigation bar*/
nav {
  display: flex;
  order: 1;
}

.navItem {
  margin: 0px 10px 0px 10px;
  transition: ease-in 0.2s;
}
.navItem:hover {
  font-size: 20px;
}

/*--------------------------Footer*/
footer {
  display: flex;
  order: 3;
}

/*--------------------------wrapper*/
.wrapper {
  display: grid;
  order: 2;
}

/*--------------------------Home module*/
.homePhoto {
  max-height: 30%;
  min-height: 100px;
}
