/*--------------------------Color Pallete*/
:root {
  --blackColor: #2c2c2c;
  --blacker: #1f1f1f;
  --boneWhite: #faf6f1;
}

/*--------------------------Global stuff */
* {
  margin: 0;
  padding: 0px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  box-sizing: border-box;
  background-color: var(--blackColor);
  color: var(--boneWhite);
  margin: 0;
}

/*--------------------------Fonts*/
@font-face {
  font-family: "horrorFont";
  src: url("../fonts/who_asks_satan.ttf") format("truetype");
  font-weight: 900;
  font-size: medium;
  font-style: normal;
}

@font-face {
  font-family: "melted-monster";
  src: url("../fonts/melted_monster.ttf") format("truetype");
  font-weight: 900;
  font-size: medium;
  font-style: normal;
}

/*--------------------------Content zone*/
#content {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*--------------------------Navigation bar*/
nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  order: 1;
  height: 10vh;
  font-family: "horrorFont";
  font-size: 25px;
  gap: 3%;
  background-color: var(--blacker);
  margin-right: 3px;
}

.navItem {
  margin: 0px 10px 0px 10px;
  transition: ease-in 0.1s;
  align-content: center;
  width: 10%;
  text-align: center;
  cursor: pointer;
  font-family: "melted-monster";
}
.navItem:hover {
  font-size: 1.25em;
}

.active {
  color: rgb(24, 206, 0);
  -webkit-text-stroke: 0.5px #000000;
  font-size: 1.25em;
}

.webTitle {
  font-family: "horrorFont";
  font-size: 4rem;
  color: var(--boneWhite);
  margin-right: auto;
  margin-left: 20px;
  /*padding-right: 100px;*/
}

/*--------------------------Footer*/
footer {
  display: flex;
  order: 3;
  height: 5vh;
  background-color: var(--blacker);
  gap: calc(50vw - 6ch);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

footer > a {
  text-decoration: none;
  color: rgb(1, 114, 243);
}

footer > a > img {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}

/*--------------------------wrapper*/
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
}

/*--------------------------Inter module stuff*/

.card {
  flex: 1;
  align-self: center;
  width: max(70%, 400px);
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: var(--blacker);
  margin-top: auto;
  margin-bottom: auto;
  height: 300px;
}

.writingCard {
  margin: 30px 10px 30px 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------Home module*/

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: "melted-monster";
  letter-spacing: 5px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

p.homeArticle {
  max-height: 285px;
  overflow: hidden;
  scrollbar-width: 5px;
}

.homePhoto {
  width: max(25%, 186px);
  height: 100%;
  object-fit: cover;
  border-radius: 0 30px 30px 0;
}

.description {
  flex: none;
  max-height: 500px;
  min-height: 400px;
}

/*------------------- Content module---------*/
.bandsWrapper {
  padding: 0 5px 0px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 7px;
  max-width: 99vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bandCard:nth-child(even) {
  justify-self: end;
}

.bandCard {
  width: min(100%, 800px);
  box-sizing: border-box;
  margin: 0 10px 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
}

.bandTitle {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 3ch;
  font-family: "melted-monster";
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bandText {
  grid-column: 1/3;
  margin: 5px;
  text-align: start;
}
.bandImage {
  grid-column: 3/4;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 30px 30px 0;
}

.bandCard:nth-child(odd) {
  grid-column: 1/4;
}
.bandCard:nth-child(even) {
  grid-column: 2/5;
}

/*----------------------------Contact---------------------*/

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactP {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 15px;
}

.messageInv {
  margin-top: 20px;
  font-size: 40px;
}

form {
  margin-left: 15px;
  display: grid;
  width: 60%;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr 30px;
}
input {
  border: none;
  background-color: var(--boneWhite);
}

form > input[name="name"] {
  background-color: var(--boneWhite);
}
form > textarea {
  grid-column: 1/3;
  resize: none;
  background-color: var(--boneWhite);
  border: none;
}

button {
  background-color: transparent;
  border: solid 3px var(--boneWhite);
  border-radius: 20px;
  font-size: 20px;
  font-family: "melted-monster";
  color: rgb(24, 206, 0);
  background-color: var(--blacker);
}
